<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Toboolist</title>
    <link rel="stylesheet" href="./style/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="app" v-cloak>
        <!-- header -->
        <header class="header-container">
            <div class="container">
                <div class="vertical-spacing">
                    <img src="./img/logo copia.png" alt="logo" class="logo">
                    <span class="logo-text">Vue To Do List</span>
                </div>            
            </div>
        </header>
        <!-- main -->
        <main>
            <div class="container">
                <div class="content"> 
                    <div class="button-container" >
                        <input type="text" class="input" v-model="newTask" placeholder="inserisci una nuova task">
                        <button class="button add-task m-left" @click="addTask()">Add Task</button>
                    </div>
                    <hr id="hr">
                    <!-- list-container -->
                    <div class="list-container">
                        <div class="list">
                            <!-- new task -->
                            <h2><span class="triangle-icon">&blacktriangledown;</span>New Task</h2>
                            <div class="list">
                                <ul>
                                    <!-- lista su cui iterare -->
                                    <li class="style-list" v-for="(task, index) in taskList" :key="index">
                                        <div>
                                            <input type="checkbox" :id="'to-do-'+ index" v-model="task.selected" class="checkbox">
                                            <label :for="'to-do-'+ index" :class="{ 'strikethrough': task.selected }" style="font-weight: 600;">{{task['to-do']}}</label>
                                            <button style="margin-left: 1rem;" @click="removeTask(index)">delete</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
            
                    </div>
                </div>
            </div>
            <!-- <div class="container" style="margin-top: 30px; background-color: black;">
                <div class="content" style="background-color: black;">
                    <input type="text">
                </div>
            </div> -->
        </main>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./script/main.js"></script>
</body>
</html>
